<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dreamspace.uucampusseller" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- phote picker-->
        <activity android:name=".widget.photopicker.SelectPhotoActivity"/>
        <activity android:name=".widget.photopicker.PhotoPreviewActivity"/>
        <!-- goods-->
        <activity android:name=".ui.activity.Goods.EditGoodInfoAct"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".ui.activity.Goods.EditGoodLabelAct"
            android:windowSoftInputMode="stateHidden"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

</manifest>
